@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

:root {
  --background: #ffffff;
  --foreground: #171717;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: 'Roboto', sans-serif;
}

.cardUser{
  width: 20%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.mainContent{
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.activeContent{
  display: flex;
}

.content{
  display: none;
}

.select-container:focus-within .select-arrow {
  transform: translateY(-50%) rotate(180deg);
}